<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - VOTING SYSTEM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">

    <link href="{{url_for('static', filename='style1.css')}}" rel='stylesheet' type='text/css'>

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


    {% block head %}{% endblock %}
  </head>

  <body >

  <!---------------------------- NAVIGATION BAR BEGINS ---------------------------->

<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div  class="navbar-brand">
                    <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify btn-menu toggle">
                        <!--<i class="fa fa-bars"></i>-->
                    </a>
                    <a href="/admin">VOTERIX</a>
                </div>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/admin/get_users">SHOW USER</a></li>
                    <li><a href="/admin/get_all_survey">VIEW QUESTION</a></li>
                    <li><a href="/admin/get_response">VIEW RESPONSE</a></li>
                    <li><a href="/admin/create_survey">CREATE QUESTION</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if session['name'] %}
                    <li><a href="{{ url_for('clearsession1') }}"><span class="glyphicon glyphicon-log-out">&nbsp;</span>Logout</a></li>
                    {% else %}
                    <li><a href="/admin"><span class="glyphicon glyphicon-log-in"></span> Signin</a></li>{% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <nav id="spy">
            <ul class="sidebar-nav nav">

                <li>
                    <a href="#anch1">
                        <span class="fa fa-anchor solo">Anchor 1</span>
                    </a>
                </li>
                <li>
                    <a href="#anch2">
                        <span class="fa fa-anchor solo">Anchor 2</span>
                    </a>
                </li>
                <li>
                    <a href="#anch3">
                        <span class="fa fa-anchor solo">ABOUT US</span>
                    </a>
                </li>
                <li>
                    <a href="#anch4">
                        <span class="fa fa-anchor solo">FEEDBACK</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>



  <!----------------------------- NAVIGATION BAR ENDS ----------------------------->
<script type="text/javascript" src="{{url_for('static', filename='js/js1.js')}}"></script>
    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container-fluid">
                    <!-- Page content -->

                <div class="row">

                    <div class="col-md-12">
                        <div class="panel panel-success">
                            <div class="panel-heading">

                            </div>
                            <div class="panel-body">

                   {% block content %}{% endblock %}
            </div>
        </div>
    </div>
                    </div>
                </div>
            </div>

  <!----------------------------- FOOTER ----------------------------->
    <div id="footer">
        {% block footer %}
        <center>

        &copy; Copyright 2017 by <a href="#">vote, Inc.</a>.

        </center>
      {% endblock %}
    </div>
</div>
  </body>
</html>


