{% extends "admin/admin_base.html" %}
{% block title %}Work Page{% endblock %}
{% block head %}
  {{ super() }}

    <style>
    td {font-size: 16px; text-transform: uppercase; letter-spacing: 0px; color: black;}
    th {font-size: 18px; text-transform: uppercase; letter-spacing: 0px; color: black;}

        td {text-align: center;}
        th {text-align: center;}
    </style>

{% endblock %}
{% block content %}

<p class="important">
    {% if session['name'] %}

        <center>
            <h4><p style="color:blue; ">CREATE QUESTION </p></h4><br><br><br><br><br><br>
                <form action="/user/save_survey" method="post">

                    <b>QUESTION :</b> <input type="text" required="" style=" text-transform: uppercase; text-align: center" name="question"  placeholder="--- Please Enter Question --- " size="40" /><br><br>

                    <!--<input type="radio" name="answer" value="yes" checked> YES-->
                    <!--<input type="radio" name="answer" value="no"> NO-->
                    <!--<input type="radio" name="answer" value="other"> OTHER<br><br><br><br>-->

                    <button type="submit" class="btn btn-success">SUBMIT</button><hr></p>

                </form><br><br><br><br><br><br><br><br>
            <table class="table table-bordered">


            </table>
        </center>


{% else %}


        <p style="color: red"> You still didn't set your Email, do it
        <a href="{{ url_for('admin') }}">here</a></p>

        {% include 'admin/session.html' %}

    {% endif %}
</p>

{% endblock %}
