{% extends "user/user_base.html" %}
{% block title %}Work Page{% endblock %}
{% block head %}
  {{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table_style.css') }}">
{% endblock %}
{% block content %}

    <p class="important">
        {% if session['name'] %}

    <div id="login" class="span3 well well-large offset4">
        <center>
            <table id="myTable">
                <h4>SELECT SURVEY TO FILL YOUR RESPONSE</h4>
                <hr><br><br><br><br><br><br><br><br><br><br>



        <form action="/user/save_survey" method="post">
                                            <td>
                    {% for survey in surveys %}
                        <br>

                    <!--<b><h3><a href="/user/create_response?id={{ survey._id }}">{{ survey.question }}</a></h3></b><br>-->
                    <!--<b><h3>{{ survey._id }}</a></h3></b><br>-->

                    <b><h3>{{ survey.question }}</a></h3></b><br>
                   <input type="radio" name="answer" value="yes" checked> YES
                    <input type="radio" name="answer" value="no"> NO
                    <input type="radio" name="answer" value="other"> OTHER<br><br><br><br><hr>

                    <button type="submit" class="btn btn-success">SUBMIT</button></p>
                    {% endfor %}
                </form>


                    <br>
                </td>

            </table><br><br><br><br><br><br><br><br><br><br><br><br>
        </center>
    </div>
{% else %}

<p style="color: red"> You still didn't set your Email, do it
    <a href="{{ url_for('signin') }}">here</a></p>

{% include 'user/session.html' %}

{% endif %}
</p>

{% endblock %}
