{% extends "user/user_base.html" %}
{% block title %}GRAPH{% endblock %}
{% block head %}
  {{ super() }}

<script src="{{url_for('static', filename='js/js.js')}}"></script>


<script type="text/javascript">

console.log("Loging graph....")

function handleChartDataFromServer(data)
{
    alert("hellooooo");
    var items = data._items;
    alert("" + items.length);
    var dataPoints = [];
    for(var i = 0; i< items.length; i++)
    {
        var item = items[i];
        alert("" + item.answer)
    }

}

window.onload = function ()
{
	var chart = new CanvasJS.Chart("chartContainer",
	{
		theme: "theme2",
		title:{
			text: "Response Of Today Question"
		},
		data: [
		{
			type: "pie",
			showInLegend: true,
			toolTipContent: "{y} - #percent %",
			yValueFormatString: "#0.#,,. Million",
			legendText: "{indexLabel}",
			dataPoints: [
				{  y: 1630, indexLabel: "YES" },
				{  y: 600, indexLabel: "NO" },
				{  y: 140, indexLabel: "OTHER"}
			]
		}
		]
	});




	chart.render();
}


 $.get("http://0.0.0.0:5000/api/response", function(data, status)
    {
        //alert(" " + JSON.stringify(data));
        handleChartDataFromServer(data);
    })



</script>

{% endblock %}
{% block content %}

<p class="important">
    {% if session['name'] %}

<div id="chartContainer" style="height: 500px; width: 100%;"></div>


    {% else %}

<p style="color: red"> You still didn't set your Email, do it
    <a href="{{ url_for('signin') }}">here</a></p>

{% include 'user/session.html' %}
{% endif %}
</p>
{% endblock %}

