{% extends "user/user_base.html" %}
{% block title %}Work Page{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}

<p class="important">

  <div id="login" class="span3 well well-large offset4">
    <div class="container">
    <div class="row">
            <center>
            <h1>Forgot Password</h1><br><br><br><br>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="">
                <form class="form-signin" action="/user/security_answer" method="post">

                    <p style="color:gray;">Q. :{{ question }}?</p>
                    <!--<input type="text" class="form-control" placeholder="Contact" style="text-align: center"  name="contact" required autofocus>-->
                    <input type="hidden" class="form-control"name="email" value="{{ email }}"><br>
<input type="hidden" class="form-control"  name="question" value="{{ question }}" ><br>
<input type="text" class="form-control" placeholder="Security Question Answer" style="text-align: center"  name="answer" required autofocus ><br>



                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>


                </form>
            </div>
                <br><br>
                </center>
            <!--<a href="/user/signup" class="text-center new-account">Create an account </a><br><br><br>-->

            </div>
        </div>
    </div>
</p>
{% endblock %}

